<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="Num_Thread" value="1"/>
    <add key="Folder_Path" value="D:\Folder"/>
    <add key="Allowed_Extensions" value=".jpg,.png,.ico"/>
  </appSettings>
</configuration>